anyio==4.14.0
apsw==3.53.2.0
apswutils==0.1.2
beautifulsoup4==4.15.0
click==8.4.1
contourpy==1.3.3
cycler==0.12.1
-e git+https://github.com/dfile/dsnd-dashboard-project.git@405bb85e47f54c9019b3efa85e65ce4cdc4179b1#egg=employee_events&subdirectory=python-package
fastcore==1.13.6
fastlite==0.2.4
fonttools==4.63.0
h11==0.16.0
httpcore2==2.4.0
httptools==0.8.0
httpx2==2.4.0
idna==3.18
itsdangerous==2.2.0
kiwisolver==1.5.0
matplotlib==3.11.1
numpy==2.5.0
oauthlib==3.3.1
packaging==26.3
pandas==3.0.3
pillow==12.3.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-fasthtml==0.14.3
python-multipart==0.0.32
PyYAML==6.0.3
setuptools==82.0.1
six==1.17.0
soupsieve==2.8.4
starlette==1.3.1
truststore==0.10.4
typing_extensions==4.15.0
uvicorn==0.49.0
uvloop==0.22.1
watchfiles==1.2.0
websockets==16.0
